* {
  box-sizing: border-box;
}

.buttons-container {
  display: flex;
  flex-direction: column;
}

.display {
  background-color: black;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
  padding-bottom: 5px;
  color: #fefffe;
  font-size: 40px;
  font-weight: 500;
}

.row {
  display: flex;
  flex-direction: row;
}

.button {
  cursor: pointer;
  height: 90px;
  width: 100%;
  background-color: #d8d8da;
  border: 1px solid black;
  font-size: 35px;
  font-weight: 500;
}

.orange-button {
  background-color: #df974c;
  color: #fefffe;
}

.grey-button {
  background-color: #d9d8db;
  color: #000000;
}
.clear {
  width: 50%;
}
.back {
  width: 25%;
}
.divide {
  width: 25%;
}
.zero {
  width: 75%;
}
.equals {
  width: 25%;
}
